<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>restaurants</key>
	<array>
		<dict>
			<key>is_delivering_now</key>
			<integer>0</integer>
			<key>has_online_delivery</key>
			<integer>0</integer>
			<key>featured_image</key>
			<string>https://s3-media4.fl.yelpcdn.com/bphoto/hZg4lUmA3bjLI2row-ETIg/o.jpg</string>
			<key>menu_url</key>
			<string>https://www.zomato.com/rochester-ny/jines-rochester/menu?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1&amp;openSwipeBox=menu&amp;showMinimal=1#tabtop</string>
			<key>photos_url</key>
			<string>https://www.zomato.com/rochester-ny/jines-rochester/photos?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1#tabtop</string>
			<key>rating_text</key>
			<string>Good</string>
			<key>aggregate_rating</key>
			<real>3.9</real>
			<key>currency</key>
			<string>$</string>
			<key>price_range</key>
			<integer>2</integer>
			<key>average_cost_for_two</key>
			<integer>25</integer>
			<key>cuisines</key>
			<string>Breakfast, Greek</string>
			<key>longitude</key>
			<real>-77.578183</real>
			<key>latitude</key>
			<real>43.14838</real>
			<key>address</key>
			<string>658 Park Ave, Rochester 14607</string>
			<key>url</key>
			<string>https://www.zomato.com/rochester-ny/jines-rochester?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1</string>
			<key>name</key>
			<string>Jines</string>
		</dict>
		<dict>
			<key>is_delivering_now</key>
			<integer>0</integer>
			<key>has_online_delivery</key>
			<integer>0</integer>
			<key>featured_image</key>
			<string>https://s3-media3.fl.yelpcdn.com/bphoto/nDvJ0dexObArevl7VvVgLQ/o.jpg</string>
			<key>photos_url</key>
			<string>https://www.zomato.com/rochester-ny/the-frog-pond-rochester/photos?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1#tabtop</string>
			<key>menu_url</key>
			<string>https://www.zomato.com/rochester-ny/the-frog-pond-rochester/menu?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1&amp;openSwipeBox=menu&amp;showMinimal=1#tabtop</string>
			<key>aggregate_rating</key>
			<real>4.2</real>
			<key>rating_text</key>
			<string>Very Good</string>
			<key>currency</key>
			<string>$</string>
			<key>price_range</key>
			<integer>2</integer>
			<key>average_cost_for_two</key>
			<integer>25</integer>
			<key>cuisines</key>
			<string>American, Breakfast, Burger</string>
			<key>longitude</key>
			<real>-77.578306</real>
			<key>latitude</key>
			<real>43.148416</real>
			<key>address</key>
			<string>652 Park Ave, Rochester 14607</string>
			<key>url</key>
			<string>https://www.zomato.com/rochester-ny/the-frog-pond-rochester?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1</string>
			<key>name</key>
			<string>The Frog Pond</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>17238173</integer>
			<key>name</key>
			<string>Simply Crepes Cafe</string>
			<key>url</key>
			<string>https://www.zomato.com/rochester-ny/simply-crepes-cafe-pittsford-rochester?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1</string>
			<key>address</key>
			<string>7 Schoen Plaza, Pittsford 14534</string>
			<key>locality</key>
			<string>Pittsford</string>
			<key>city</key>
			<string>Rochester</string>
			<key>city_id</key>
			<integer>1003</integer>
			<key>latitude</key>
			<real>43.089827</real>
			<key>longitude</key>
			<real>-77.511309</real>
			<key>zipcode</key>
			<integer>14534</integer>
			<key>country_id</key>
			<integer>216</integer>
			<key>locality_verbose</key>
			<string>Pittsford, Rochester</string>
			<key>switch_to_order_menu</key>
			<integer>0</integer>
			<key>cuisines</key>
			<string>Cafe, Coffee and Tea, International</string>
			<key>average_cost_for_two</key>
			<integer>25</integer>
			<key>price_range</key>
			<integer>2</integer>
			<key>currency</key>
			<string>$</string>
			<key>thumb</key>
			<string></string>
			<key>aggregate_rating</key>
			<integer>4</integer>
			<key>rating_text</key>
			<string>Very Good</string>
			<key>rating_color</key>
			<string>5BA829</string>
			<key>votes</key>
			<integer>444</integer>
			<key>photos_url</key>
			<string>https://www.zomato.com/rochester-ny/simply-crepes-cafe-pittsford-rochester/photos?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1#tabtop</string>
			<key>menu_url</key>
			<string>https://www.zomato.com/rochester-ny/simply-crepes-cafe-pittsford-rochester/menu?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1&amp;openSwipeBox=menu&amp;showMinimal=1#tabtop</string>
			<key>featured_image</key>
			<string></string>
			<key>has_online_delivery</key>
			<integer>0</integer>
			<key>is_delivering_now</key>
			<integer>0</integer>
			<key>deeplink</key>
			<string>zomato://restaurant/17238173</string>
			<key>has_table_booking</key>
			<integer>0</integer>
			<key>events_url</key>
			<string>https://www.zomato.com/rochester-ny/simply-crepes-cafe-pittsford-rochester/events#tabtop?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>17237843</integer>
			<key>name</key>
			<string>Nick Tahou Hots</string>
			<key>url</key>
			<string>https://www.zomato.com/rochester-ny/nick-tahou-hots-rochester?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1</string>
			<key>address</key>
			<string>320 Main St W, Rochester 14608</string>
			<key>locality</key>
			<string>Mayor&apos;s Heights</string>
			<key>city</key>
			<string>Rochester</string>
			<key>city_id</key>
			<integer>1003</integer>
			<key>latitude</key>
			<real>43.153753</real>
			<key>longitude</key>
			<real>-77.621662</real>
			<key>zipcode</key>
			<integer>14608</integer>
			<key>country_id</key>
			<integer>216</integer>
			<key>locality_verbose</key>
			<string>Mayor&apos;s Heights, Rochester</string>
			<key>switch_to_order_menu</key>
			<integer>0</integer>
			<key>cuisines</key>
			<string>Breakfast, Burger</string>
			<key>average_cost_for_two</key>
			<integer>10</integer>
			<key>price_range</key>
			<integer>1</integer>
			<key>currency</key>
			<string>$</string>
			<key>thumb</key>
			<string></string>
			<key>aggregate_rating</key>
			<real>4.1</real>
			<key>rating_text</key>
			<string>Very Good</string>
			<key>rating_color</key>
			<string>5BA829</string>
			<key>votes</key>
			<integer>309</integer>
			<key>photos_url</key>
			<string>https://www.zomato.com/rochester-ny/nick-tahou-hots-rochester/photos?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1#tabtop</string>
			<key>menu_url</key>
			<string>https://www.zomato.com/rochester-ny/nick-tahou-hots-rochester/menu?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1&amp;openSwipeBox=menu&amp;showMinimal=1#tabtop</string>
			<key>featured_image</key>
			<string></string>
			<key>has_online_delivery</key>
			<integer>0</integer>
			<key>is_delivering_now</key>
			<integer>0</integer>
			<key>deeplink</key>
			<string>zomato://restaurant/17237843</string>
			<key>has_table_booking</key>
			<integer>0</integer>
			<key>events_url</key>
			<string>https://www.zomato.com/rochester-ny/nick-tahou-hots-rochester/events#tabtop?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>17237238</integer>
			<key>name</key>
			<string>Cracker Barrel</string>
			<key>url</key>
			<string>https://www.zomato.com/rochester-ny/cracker-barrel-old-country-store-rochester?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1</string>
			<key>address</key>
			<string>2075 Hylan Dr, Rochester 14623</string>
			<key>locality</key>
			<string>Henrietta</string>
			<key>city</key>
			<string>Rochester</string>
			<key>city_id</key>
			<integer>1003</integer>
			<key>latitude</key>
			<real>43.072561</real>
			<key>longitude</key>
			<real>-77.62550299999999</real>
			<key>zipcode</key>
			<integer>14623</integer>
			<key>country_id</key>
			<integer>216</integer>
			<key>locality_verbose</key>
			<string>Henrietta, Rochester</string>
			<key>switch_to_order_menu</key>
			<integer>0</integer>
			<key>cuisines</key>
			<string>American</string>
			<key>average_cost_for_two</key>
			<integer>10</integer>
			<key>price_range</key>
			<integer>1</integer>
			<key>currency</key>
			<string>$</string>
			<key>thumb</key>
			<string></string>
			<key>aggregate_rating</key>
			<real>3.6</real>
			<key>rating_text</key>
			<string>Good</string>
			<key>rating_color</key>
			<string>9ACD32</string>
			<key>votes</key>
			<integer>89</integer>
			<key>photos_url</key>
			<string>https://www.zomato.com/rochester-ny/cracker-barrel-old-country-store-rochester/photos?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1#tabtop</string>
			<key>menu_url</key>
			<string>https://www.zomato.com/rochester-ny/cracker-barrel-old-country-store-rochester/menu?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1&amp;openSwipeBox=menu&amp;showMinimal=1#tabtop</string>
			<key>featured_image</key>
			<string></string>
			<key>has_online_delivery</key>
			<integer>0</integer>
			<key>is_delivering_now</key>
			<integer>0</integer>
			<key>deeplink</key>
			<string>zomato://restaurant/17237238</string>
			<key>has_table_booking</key>
			<integer>0</integer>
			<key>events_url</key>
			<string>https://www.zomato.com/rochester-ny/cracker-barrel-old-country-store-rochester/events#tabtop?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>17237567</integer>
			<key>name</key>
			<string>James Brown&apos;s Place</string>
			<key>url</key>
			<string>https://www.zomato.com/rochester-ny/james-browns-place-rochester?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1</string>
			<key>address</key>
			<string>1356 Culver Rd, Rochester 14609</string>
			<key>locality</key>
			<string>North Winton/Browncroft</string>
			<key>city</key>
			<string>Rochester</string>
			<key>city_id</key>
			<integer>1003</integer>
			<key>latitude</key>
			<real>43.170185</real>
			<key>longitude</key>
			<real>-77.560389</real>
			<key>zipcode</key>
			<integer>14609</integer>
			<key>country_id</key>
			<integer>216</integer>
			<key>locality_verbose</key>
			<string>North Winton/Browncroft, Rochester</string>
			<key>switch_to_order_menu</key>
			<integer>0</integer>
			<key>cuisines</key>
			<string>Diner</string>
			<key>average_cost_for_two</key>
			<integer>10</integer>
			<key>price_range</key>
			<integer>1</integer>
			<key>currency</key>
			<string>$</string>
			<key>thumb</key>
			<string></string>
			<key>aggregate_rating</key>
			<real>4.2</real>
			<key>rating_text</key>
			<string>Very Good</string>
			<key>rating_color</key>
			<string>5BA829</string>
			<key>votes</key>
			<integer>267</integer>
			<key>photos_url</key>
			<string>https://www.zomato.com/rochester-ny/james-browns-place-rochester/photos?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1#tabtop</string>
			<key>menu_url</key>
			<string>https://www.zomato.com/rochester-ny/james-browns-place-rochester/menu?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1&amp;openSwipeBox=menu&amp;showMinimal=1#tabtop</string>
			<key>featured_image</key>
			<string></string>
			<key>has_online_delivery</key>
			<integer>0</integer>
			<key>is_delivering_now</key>
			<integer>0</integer>
			<key>deeplink</key>
			<string>zomato://restaurant/17237567</string>
			<key>has_table_booking</key>
			<integer>0</integer>
			<key>events_url</key>
			<string>https://www.zomato.com/rochester-ny/james-browns-place-rochester/events#tabtop?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>17238199</integer>
			<key>name</key>
			<string>Spot Coffee Rochester Cafe</string>
			<key>url</key>
			<string>https://www.zomato.com/rochester-ny/spot-coffee-rochester-cafe-rochester?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1</string>
			<key>address</key>
			<string>200 East Ave, Rochester 14604</string>
			<key>locality</key>
			<string>East End</string>
			<key>city</key>
			<string>Rochester</string>
			<key>city_id</key>
			<integer>1003</integer>
			<key>latitude</key>
			<real>43.156276</real>
			<key>longitude</key>
			<real>-77.59908299999999</real>
			<key>zipcode</key>
			<integer>14604</integer>
			<key>country_id</key>
			<integer>216</integer>
			<key>locality_verbose</key>
			<string>East End, Rochester</string>
			<key>switch_to_order_menu</key>
			<integer>0</integer>
			<key>cuisines</key>
			<string>Coffee and Tea</string>
			<key>average_cost_for_two</key>
			<integer>10</integer>
			<key>price_range</key>
			<integer>1</integer>
			<key>currency</key>
			<string>$</string>
			<key>thumb</key>
			<string></string>
			<key>aggregate_rating</key>
			<real>3.8</real>
			<key>rating_text</key>
			<string>Good</string>
			<key>rating_color</key>
			<string>9ACD32</string>
			<key>votes</key>
			<integer>188</integer>
			<key>photos_url</key>
			<string>https://www.zomato.com/rochester-ny/spot-coffee-rochester-cafe-rochester/photos?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1#tabtop</string>
			<key>menu_url</key>
			<string>https://www.zomato.com/rochester-ny/spot-coffee-rochester-cafe-rochester/menu?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1&amp;openSwipeBox=menu&amp;showMinimal=1#tabtop</string>
			<key>featured_image</key>
			<string></string>
			<key>has_online_delivery</key>
			<integer>0</integer>
			<key>is_delivering_now</key>
			<integer>0</integer>
			<key>deeplink</key>
			<string>zomato://restaurant/17238199</string>
			<key>has_table_booking</key>
			<integer>0</integer>
			<key>events_url</key>
			<string>https://www.zomato.com/rochester-ny/spot-coffee-rochester-cafe-rochester/events#tabtop?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>17237519</integer>
			<key>name</key>
			<string>Highland Park Diner</string>
			<key>url</key>
			<string>https://www.zomato.com/rochester-ny/highland-park-diner-swillburg-rochester?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1</string>
			<key>address</key>
			<string>960 Clinton Avenue S, Rochester 14620</string>
			<key>locality</key>
			<string>Swillburg</string>
			<key>city</key>
			<string>Rochester</string>
			<key>city_id</key>
			<integer>1003</integer>
			<key>latitude</key>
			<real>43.1395096</real>
			<key>longitude</key>
			<real>-77.595613</real>
			<key>zipcode</key>
			<integer>14620</integer>
			<key>country_id</key>
			<integer>216</integer>
			<key>locality_verbose</key>
			<string>Swillburg, Rochester</string>
			<key>switch_to_order_menu</key>
			<integer>0</integer>
			<key>cuisines</key>
			<string>Diner</string>
			<key>average_cost_for_two</key>
			<integer>20</integer>
			<key>price_range</key>
			<integer>2</integer>
			<key>currency</key>
			<string>$</string>
			<key>thumb</key>
			<string></string>
			<key>aggregate_rating</key>
			<real>3.8</real>
			<key>rating_text</key>
			<string>Good</string>
			<key>rating_color</key>
			<string>9ACD32</string>
			<key>votes</key>
			<integer>165</integer>
			<key>photos_url</key>
			<string>https://www.zomato.com/rochester-ny/highland-park-diner-swillburg-rochester/photos?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1#tabtop</string>
			<key>menu_url</key>
			<string>https://www.zomato.com/rochester-ny/highland-park-diner-swillburg-rochester/menu?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1&amp;openSwipeBox=menu&amp;showMinimal=1#tabtop</string>
			<key>featured_image</key>
			<string></string>
			<key>has_online_delivery</key>
			<integer>0</integer>
			<key>is_delivering_now</key>
			<integer>0</integer>
			<key>deeplink</key>
			<string>zomato://restaurant/17237519</string>
			<key>has_table_booking</key>
			<integer>0</integer>
			<key>events_url</key>
			<string>https://www.zomato.com/rochester-ny/highland-park-diner-swillburg-rochester/events#tabtop?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>17237517</integer>
			<key>name</key>
			<string>Hicks &amp; McCarthy</string>
			<key>url</key>
			<string>https://www.zomato.com/rochester-ny/hicks-mccarthy-pittsford?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1</string>
			<key>address</key>
			<string>23 S Main St, Pittsford 14534</string>
			<key>locality</key>
			<string>Pittsford</string>
			<key>city</key>
			<string>Rochester</string>
			<key>city_id</key>
			<integer>1003</integer>
			<key>latitude</key>
			<real>43.090371</real>
			<key>longitude</key>
			<real>-77.51577899999999</real>
			<key>zipcode</key>
			<integer>14534</integer>
			<key>country_id</key>
			<integer>216</integer>
			<key>locality_verbose</key>
			<string>Pittsford, Rochester</string>
			<key>switch_to_order_menu</key>
			<integer>0</integer>
			<key>cuisines</key>
			<string>American</string>
			<key>average_cost_for_two</key>
			<integer>25</integer>
			<key>price_range</key>
			<integer>2</integer>
			<key>currency</key>
			<string>$</string>
			<key>thumb</key>
			<string></string>
			<key>aggregate_rating</key>
			<real>3.6</real>
			<key>rating_text</key>
			<string>Good</string>
			<key>rating_color</key>
			<string>9ACD32</string>
			<key>votes</key>
			<integer>177</integer>
			<key>photos_url</key>
			<string>https://www.zomato.com/rochester-ny/hicks-mccarthy-pittsford/photos?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1#tabtop</string>
			<key>menu_url</key>
			<string>https://www.zomato.com/rochester-ny/hicks-mccarthy-pittsford/menu?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1&amp;openSwipeBox=menu&amp;showMinimal=1#tabtop</string>
			<key>featured_image</key>
			<string></string>
			<key>has_online_delivery</key>
			<integer>0</integer>
			<key>is_delivering_now</key>
			<integer>0</integer>
			<key>deeplink</key>
			<string>zomato://restaurant/17237517</string>
			<key>has_table_booking</key>
			<integer>0</integer>
			<key>events_url</key>
			<string>https://www.zomato.com/rochester-ny/hicks-mccarthy-pittsford/events#tabtop?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>17238943</integer>
			<key>name</key>
			<string>Cornerstone Restaurant and Cafe</string>
			<key>url</key>
			<string>https://www.zomato.com/rochester-ny/cornerstone-restaurant-and-cafe-fairport?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1</string>
			<key>address</key>
			<string>2130 Fairport Nine Mile Point Rd, Fairport 14450</string>
			<key>locality</key>
			<string>Fairport</string>
			<key>city</key>
			<string>Rochester</string>
			<key>city_id</key>
			<integer>1003</integer>
			<key>latitude</key>
			<real>43.129359</real>
			<key>longitude</key>
			<real>-77.440712</real>
			<key>zipcode</key>
			<integer>14450</integer>
			<key>country_id</key>
			<integer>216</integer>
			<key>locality_verbose</key>
			<string>Fairport, Rochester</string>
			<key>switch_to_order_menu</key>
			<integer>0</integer>
			<key>cuisines</key>
			<string>American, Breakfast, Steak</string>
			<key>average_cost_for_two</key>
			<integer>25</integer>
			<key>price_range</key>
			<integer>2</integer>
			<key>currency</key>
			<string>$</string>
			<key>thumb</key>
			<string></string>
			<key>aggregate_rating</key>
			<real>2.9</real>
			<key>rating_text</key>
			<string>Average</string>
			<key>rating_color</key>
			<string>FFBA00</string>
			<key>votes</key>
			<integer>96</integer>
			<key>photos_url</key>
			<string>https://www.zomato.com/rochester-ny/cornerstone-restaurant-and-cafe-fairport/photos?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1#tabtop</string>
			<key>menu_url</key>
			<string>https://www.zomato.com/rochester-ny/cornerstone-restaurant-and-cafe-fairport/menu?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1&amp;openSwipeBox=menu&amp;showMinimal=1#tabtop</string>
			<key>featured_image</key>
			<string></string>
			<key>has_online_delivery</key>
			<integer>0</integer>
			<key>is_delivering_now</key>
			<integer>0</integer>
			<key>deeplink</key>
			<string>zomato://restaurant/17238943</string>
			<key>has_table_booking</key>
			<integer>0</integer>
			<key>events_url</key>
			<string>https://www.zomato.com/rochester-ny/cornerstone-restaurant-and-cafe-fairport/events#tabtop?utm_source=api_basic_user&amp;utm_medium=api&amp;utm_campaign=v2.1</string>
		</dict>
	</array>
</dict>
</plist>
